.neo-configurator > .field { max-width: none; }

.neo-configurator > .field > .input { position: relative; overflow: hidden; border: 1px solid #e3e5e8; border-radius: 3px; -webkit-box-shadow: 0 0 5px rgba(51, 170, 255, 0); -moz-box-shadow: 0 0 5px rgba(51, 170, 255, 0); box-shadow: 0 0 5px rgba(51, 170, 255, 0); -webkit-transition: -webkit-box-shadow linear 100ms; -moz-transition: box-shadow linear 100ms; }
body.ltr .neo-configurator > .field > .input { padding-left: 400px; }
body.rtl .neo-configurator > .field > .input { padding-right: 400px; }

.neo-configurator .mc-sidebar { position: absolute; top: 0; margin: 0; border: none; width: 200px; height: 100%; background: rgba(0, 0, 0, 0.03); -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.06); -moz-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.06); box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.06); }

body.ltr .neo-configurator .mc-sidebar.block-types { left: 0; }
body.rtl .neo-configurator .mc-sidebar.block-types { right: 0; }

body.ltr .neo-configurator .mc-sidebar.fields { left: 200px; }
body.rtl .neo-configurator .mc-sidebar.fields { right: 200px; }

.neo-configurator .mc-sidebar .items { margin-top: -1px; padding-top: 1px; }

.neoconfigitem { position: relative; margin-top: -1px; border-bottom: 1px solid rgba(0, 0, 0, 0.06); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; cursor: default; }
body.ltr .neoconfigitem { padding: 11px 45px 10px 14px; }
body.rtl .neoconfigitem { padding: 11px 14px 10px 45px; }

.neoconfigitem.sel { background: rgba(0, 0, 0, 0.05); }

.neoconfigitem.error { background: rgba(255, 0, 0, 0.1); }

.neoconfigitem.sel.error { background: rgba(200, 0, 0, 0.2); }

.neoconfigitem .handle { font-size: 11px; color: #8f98a3; }

.neoconfigitem .actions { position: absolute; width: 24px; }
body.ltr .neoconfigitem .actions { right: 0; }
body.rtl .neoconfigitem .actions { left: 0; }

.neoconfigitem.mci-blocktype .actions { top: 10px; }

.neoconfigitem.mci-field .actions { top: 20px; }

.neoconfigitem .actions .icon { display: block; margin-bottom: 1px; text-align: center; }

.neoconfigitem .actions .icon.settings:before { color: rgba(0, 0, 0, 0.2); }

.neoconfigitem .actions .icon.settings.error:before { color: #da5a47; }

.neoconfigitem .actions .icon.settings:not(.disabled):hover:before { color: #0d78f2; }

.neo-configurator .mc-sidebar .items .btn { margin: 14px; }

.neo-configurator .field-settings { position: relative; height: 100%; }

.neo-configurator .field-settings .items { padding: 24px; }

.neo-configurator .mc-sidebar > .col-inner-container > .heading, .neo-configurator .field-settings > .col-inner-container > .heading { margin: 0; padding: 7px 14px 6px; border-bottom: 1px solid rgba(0, 0, 0, 0.06); background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.03)); background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.03)); background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.03)); background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.03)); background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.03)); }
