.neo-configurator > .field {
	max-width: none;
}

.neo-configurator > .field > .input {
	position: relative;
	overflow: hidden;
}

body.ltr .neo-configurator > .field > .input {
	padding-left: 400px;
}

body.rtl .neo-configurator > .field > .input {
	padding-right: 400px;
}

.neo-configurator .nc-sidebar {
	position: absolute;
	top: 0;
	margin: 0;
	border: none;
	width: 200px;
	height: 100%;
	background: rgba(0, 0, 0, 0.03);
	-webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.06);
	-moz-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.06);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.06);
}

body.ltr .neo-configurator .nc-sidebar.block-types {
	left: 0;
}

body.rtl .neo-configurator .nc-sidebar.block-types {
	right: 0;
}

body.ltr .neo-configurator .nc-sidebar.fields {
	left: 200px;
}

body.rtl .neo-configurator .nc-sidebar.fields {
	right: 200px;
}

.neo-configurator .nc-sidebar .items {
	margin-top: -1px;
	padding-top: 1px;
}

.neoconfigitem {
	position: relative;
	margin-top: -1px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
}

body.ltr .neoconfigitem {
	padding: 11px 45px 10px 14px;
}

body.rtl .neoconfigitem {
	padding: 11px 14px 10px 45px;
}

.neoconfigitem.sel {
	background: rgba(0, 0, 0, 0.05);
}

.neoconfigitem.error {
	background: rgba(255, 0, 0, 0.1);
}

.neoconfigitem.sel.error {
	background: rgba(200, 0, 0, 0.2);
}

.neoconfigitem .handle {
	font-size: 11px;
	color: #8f98a3;
}

.neoconfigitem .actions {
	position: absolute;
	width: 24px;
}

body.ltr .neoconfigitem .actions {
	right: 0;
}

body.rtl .neoconfigitem .actions {
	left: 0;
}

.neoconfigitem.mci-blocktype .actions {
	top: 10px;
}

.neoconfigitem.mci-field .actions {
	top: 20px;
}

.neoconfigitem .actions .icon {
	display: block;
	margin-bottom: 1px;
	text-align: center;
}

.neoconfigitem .actions .icon.settings:before {
	color: rgba(0, 0, 0, 0.2);
}

.neoconfigitem .actions .icon.settings.error:before {
	color: #da5a47;
}

.neoconfigitem .actions .icon.settings:not(.disabled):hover:before {
	color: #0d78f2;
}

.neo-configurator .nc-sidebar .items .btn {
	margin: 14px;
}

.neo-configurator .field-settings {
	position: relative;
	height: 100%;
}

.neo-configurator .field-settings .items {
	padding: 24px;
}

.neo-configurator .nc-sidebar > .col-inner-container > .heading,
.neo-configurator .field-settings > .col-inner-container > .heading {
	margin: 0;
	padding: 7px 14px 6px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.03));
	background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.03));
	background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.03));
	background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.03));
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.03));
}

/* blocks */

.neoblock {
	position: relative;
	margin-bottom: 10px;
	padding: 0 14px 14px;
	border-radius: 4px;
	border: 1px solid #e3e5e8;
	background: #fafafa;
	outline: none;
}

.neoblock.disabled {
	opacity: 1;
}

.neoblock > .titlebar {
	margin: 0 -14px 14px;
	width: calc(100% + 28px);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px 2px 0 0;
	border-bottom: 1px solid #e3e5e8;
	background: #eef0f1;
	color: #b9bfc6;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-wrap: normal;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

body.ltr .neoblock > .titlebar {
	padding: 6px 70px 6px 33px;
}

body.rtl .neoblock > .titlebar {
	padding: 6px 33px 6px 70px;
}

.neoblock.collapsed > .titlebar {
	border-radius: 2px;
	border-bottom: none;
}

body.ltr .neoblock.disabled > .titlebar {
	padding-right: 90px;
}

body.rtl .neoblock.disabled > .titlebar {
	padding-left: 90px;
}

.neoblock > .titlebar > .blocktype {
	display: inline;
	color: #8f98a3;
}

.neoblock > .titlebar > .preview {
	display: inline;
	opacity: 0;
	-webkit-transition: opacity linear 100ms;
	-moz-transition: opacity linear 100ms;
	-ms-transition: opacity linear 100ms;
	transition: opacity linear 100ms;
}

body.ltr .neoblock > .titlebar > .preview {
	margin-left: 7px;
}

body.rtl .neoblock > .titlebar > .preview {
	margin-right: 7px;
}

.neoblock.collapsed > .titlebar > .preview {
	opacity: 1;
}

.neoblock > .titlebar > .preview span {
	opacity: 0.5;
}

.neoblock > .checkbox {
	position: absolute;
	top: 7px;
}

body.ltr .neoblock > .checkbox {
	left: 14px;
}

body.rtl .neoblock > .checkbox {
	right: 14px;
}

.neoblock > .actions > .status.off {
	display: none;
}

.neoblock.disabled > .actions > .status.off {
	display: inline-block;
}

body.ltr .neoblock.disabled > .actions > .status.off {
	float: left;
}

body.rtl .neoblock.disabled > .actions > .status.off {
	float: right;
}

body.ltr .neoblock.disabled > .actions > .status.off {
	margin: 4px 10px 0 0;
}

body.rtl .neoblock.disabled > .actions > .status.off {
	margin: 4px 0 0 10px;
}

.neoblock > .actions {
	position: absolute;
	z-index: 1;
	top: 6px;
	cursor: default;
}

body.ltr .neoblock > .actions {
	right: 5px;
}

body.rtl .neoblock > .actions {
	left: 5px;
}

.neoblock > .actions a {
	padding: 0;
	width: 15px;
	height: 20px;
	text-align: center;
	color: rgba(0, 0, 0, 0.25);
}

body.ltr .neoblock > .actions a {
	margin-right: 2px;
}

body.rtl .neoblock > .actions a {
	margin-left: 2px;
}

.neoblock > .actions a:hover {
	width: 15px;
	height: 20px;
	text-align: center;
	color: #0d78f2;
}

body.ltr .neoblock > .actions a.settings:after {
	margin-left: 3px;
}

body.rtl .neoblock > .actions a.settings:after {
	margin-right: 3px;
}

.neoblock > .fields > .field {
	margin: 15px 0;
}

.neo > .buttons {
	margin-top: 0;
	height: 30px;
}
