/.ddev/ export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/codeception.yml export-ignore
/composer.lock export-ignore
/ecs.php export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/src/assets/src/ export-ignore
/tests/ export-ignore
/webpack.config.js export-ignore
