{% set inputAttributes = {
    id: id,
    class: [
        'neo-input',
        "neo-input--#{handle}",
        static ? 'is-static',
        translatable ? 'is-translatable',
    ],
} %}
{% set neoSettings = craft.app.plugins.getPlugin('neo').settings %}

{# Output the block type icons, for the non-Matrix new block styles #}
{% if neoSettings.newBlockMenuStyle != 'classic' %}
    <div class="hidden">
        {% if neoSettings.blockTypeIconSelectMode == 'sources' %}
            {% for blockType in (blockTypes ?? [])|filter(bt => bt.iconId is not null) %}
                {{ svg(blockType.icon)|attr({
                    id: "ni-icon-#{handle}-#{blockType.handle}",
                }) }}
            {% endfor %}
        {% else %}
            {% for blockType in (blockTypes ?? [])|filter(bt => bt.iconFilename is not null) %}
                {% set iconPath = blockType.getIconPath({
                    width: 30,
                    height: 30,
                }) %}
                {{ svg(iconPath)|attr({
                    id: "ni-icon-#{handle}-#{blockType.handle}",
                }) }}
            {% endfor %}
        {% endif %}
    </div>
{% endif %}

<input type="hidden" name="{{ handle }}" value="">
<div {{ attr(inputAttributes) }}>
    <span aria-live="assertive" class="visually-hidden" data-status-message></span>
    <div class="ni_blocks" data-neo="container.blocks">
        {% for block in blocks %}
            {% if block.level == 1 %}
                {% include 'neo/block' with { handle, block, static } only %}
            {% endif %}
        {% endfor %}
    </div>
    {% if not static %}
        <div data-neo="container.buttons"></div>
    {% endif %}
</div>
