{% import '_includes/forms' as forms %}

<div id="neo-configurator" class="neo-configurator">
	{{ forms.field({
		label: "Configuration"|t,
		instructions: "Define the types of blocks that can be created within this Neo field, as well as the fields each block type is made up of."|t,
		name: 'config'
	}) }}
</div>

{{ forms.textField({
	label: "Max Blocks"|t,
	instructions: "The maximum number of blocks the field is allowed to have."|t,
	id: 'maxBlocks',
	name: 'maxBlocks',
	value: settings.maxBlocks,
	size: 3,
	errors: settings.getErrors('maxBlocks')
}) }}
