{% import "_includes/forms" as forms %}

{% set hasLayouts = (layouts is defined and (layouts | length) > 0) %}


<div id="neo-configurator" class="neo-configurator">
	{{ forms.field({
		label: "Configuration"|t,
		instructions: "Define the types of layouts that can be created within this Neo field, as well as the fields each layout type is made up of."|t,
		name: 'config'
	}, blockTypeInput) }}
</div>

{{ forms.textField({
	label: "Max Layouts"|t,
	instructions: "The maximum number of layouts the field is allowed to have."|t,
	id: 'maxLayouts',
	name: 'maxLayouts',
	value: settings.maxLayouts,
	size: 3,
	errors: settings.getErrors('maxLayouts')
}) }}
