{% set name = settings.getName() %}

<div class="nc_sidebar_list_item type-heading">
	<div class="label" data-neo-g="text.name">{{ name }}</div>
	<a class="move icon" title="{{ "Reorder"|t }}" role="button" data-neo-g="button.move"></a>
</div>
