.neo-input {

	&.is-static {

		.ni_block .block-checkbox,
		.ni_block .block-settings,
		.ni_block .block-reorder,
		.ni_buttons {
			display: none;
		}

		.ni_block:last-child {
			margin-bottom: 0;
		}
	}

	&.is-translatable {

		.field > .heading .locale {
			display: none;
		}
	}
}

.ni {

	&_buttons {
		position: relative;
		height: 30px;

		> .btngroup,
		> .menubtn {
			position: absolute;
			top: 0;

			body.ltr & { left:  0; }
			body.rtl & { right: 0; }
		}
	}

	&_blocks {

		> .ni_buttons {
			margin-bottom: 10px;
		}
	}

	&_spinner {
		margin-bottom: 10px;
		text-align: center;
	}

	&_block {
		overflow: hidden;
		margin-bottom: 10px;
		border-radius: 3px;
		border: 1px solid #e3e5e8;
		background-color: #eef0f1;

		&:focus {
			outline: 0;
		}

		&_topbar {
			display: flex;
			height: 30px;
			line-height: 30px;
			background-color: #eef0f1;
			color: #8f98a3;

			&_item {
				cursor: default;
				padding: 0 8px;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
				white-space: nowrap;

				body.ltr &:not(:first-child),
				body.rtl &:not(:last-child) {
					padding-left: 0;
				}

				&.size-full {
					flex-grow: 1;
				}

				&.clip-text {
					overflow: hidden;
					text-overflow: ellipsis;
				}

				&.title {

					.blocktype {
						// Add vertical padding so there's more hit area for the checkbox
						padding: 8px 0;
					}

					.preview {
						margin-left: 8px;
						color: #b9bfc6;
						transition: opacity 0.3s;

						&:empty {
							// Fixes bug where the blocktype can get clipped prematurely
							display: none;
						}

						&_section {
							padding: 8px;
							border-left: 1px solid #e3e5e8;
						}

						img,
						&_color {
							position: relative;
							top: 50%;
							vertical-align: top;
							transform: translateY(-50%);
						}

						img {
							max-width: 30px;
							max-height: 30px;
						}

						&_color {
							display: inline-block;
							width: 16px;
							height: 16px;
							border-radius: 50%;
						}

						.status {
							margin-right: 6px;
						}
					}
				}

				&.tabs {
					position: relative;
					transition: opacity 0.3s;

					.tabs_trigger {
						position: absolute;
						top: 0; bottom: 0;
						left: 0; right: 0;
					}

					.tabs_inner {
						position: absolute;
						top: 0;
						padding-right: 8px;
						white-space: nowrap;

						body.ltr & { right: 0; direction: ltr; }
						body.rtl & { left:  0; direction: rtl; }
					}

					.tabs_btn {
						position: relative; // Put it over the top of trigger element
						display: block;
						cursor: pointer;
						height: 30px;
						padding: 0 9px;
						border: 1px solid #e3e5e8;
						border-top: 0;
						border-bottom-color: #fafafa;
						margin-bottom: -1px;
						background-color: #fafafa;
						color: #576575;

						body.ltr & { float: right; }
						body.rtl & { float: left;  }

						&.has-errors {
							color: #da5a47;
						}
					}

					.tab {
						display: inline-block;
						height: 30px;
						padding: 0 10px;
						color: rgba(#29323d, 0.5);

						&:hover {
							color: #0d78f2;
						}

						&.is-selected {
							cursor: default;
							padding: 0 9px;
							border: 1px solid #e3e5e8;
							border-top: 0;
							border-bottom-color: #fafafa;
							margin-bottom: -1px;
							background-color: #fafafa;
							color: #576575;

							&.is-blank {
								border-bottom-color: #eef0f1;
								background-color: transparent;
							}
						}

						&.has-errors {
							color: #da5a47;
						}
					}
				}

				> .checkbox {
					color: #29323d;
				}

				> .status {
					margin: 10px 5px 0 0;
				}

				> a {
					color: rgba(#29323d, 0.25);

					&:hover {
						color: #0d78f2;
					}
				}
			}
		}

		&_body {
			overflow: hidden;
		}

		&_content {

			&:empty {
				display: none;
			}

			&_tab {
				display: none;
				padding: 14px;
				border-top: 1px solid #e3e5e8;
				background-color: #fafafa;

				&.is-blank {
					padding: 0;
					border-top: 0;
				}

				&.is-selected {
					display: block;
				}

				> .field {
					margin: 15px 0 0 0;
				}

				// Tweak the styles of nested Matrix fields so it doesn't look so confusing
				.matrixblock {
					// border-color: #ccc;
					background-color: white;
					box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.1);

					> .titlebar {
						border-bottom-color: #eeeeee;
						background-color: #fafafa;
					}
				}
			}
		}

		&_children {
			padding: 14px;
			border-top: 1px solid #e3e5e8;
			background-color: #eef0f1;
		}

		&.is-level-odd {

			> .ni_block_topbar,
			> .ni_block_body > .ni_block_children {
				background-color: white;
			}

			> .ni_block_topbar > .ni_block_topbar_item.tabs .tab.is-selected.is-blank {
				border-bottom-color: white;
			}
		}

		&.is-expanded {

			> .ni_block_topbar {

				.title > .preview {
					opacity: 0;
				}
			}
		}

		&.is-contracted {

			> .ni_block_topbar {

				.ni_block_topbar_item.tabs {
					opacity: 0;

					.tabs_inner,
					.tabs_btn {
						pointer-events: none;
					}
				}
			}
		}

		&.is-disabled {

			> .ni_block_content {

				.ni_block_content_tab {
					pointer-events: none;
					opacity: 0.5;
					-webkit-user-select: none;
					-moz-user-select: none;
					user-select: none;
				}
			}
		}
	}
}

.neo_block_tabs-menu {

	a.is-selected {
		cursor: default;
		pointer-events: none;
		opacity: 0.25;
	}

	a.has-errors {
		color: #da5a47;
	}
}
