<div class="fieldlayoutform">
	<h2>{{ "Design your field layout"|t }}</h2>
	{% if instructions is defined %}
		<div class="instructions">{{ instructions|md }}</div>
	{% endif %}

	<div class="fld-tabs" data-neo-fields="container.fields"></div>

	<div class="newtabbtn-container">
		<div class="btn add icon" data-neo-fields="button.newTab">{{ "New Tab"|t }}</div>
		<h3>{{ "&hellip;Or use one of your field groups as a starting point:"|t }}</h3>
	</div>

	<div class="unusedfields" data-neo-fields="container.availableFields"></div>
</div>
