<div class="nc-container">

	<div class="nc-sidebar block-types">
		<div class="col-inner-container">
			<div class="heading">
				<h5>{{ "Block Types"|t }}</h5>
			</div>
			<div class="items">
				<div class="blocktypes"></div>
				<div class="btn add icon">{{ "New block type"|t }}</div>
			</div>
		</div>
	</div>

	<div class="field-layout">
		<div class="col-inner-container hidden">
			<div class="heading">
				<h5>{{ "Field Layout"|t }}</h5>
			</div>
			<div class="items"></div>
		</div>
	</div>

</div>
