$border-radius: var(--small-border-radius);

.neo-configurator > .field > .input {
    display: flex;
    min-height: 400px;
}

[data-neo='template.fld'] {
    display: none;
}

.nc {

    &_sidebar {
        width: 202px;
        border: 1px solid rgba(96, 125, 159, 0.25);
        background-color: var(--gray-050);

        body.ltr & {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        body.rtl & {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }

        &_title {
            padding: 10px 24px;
            border-bottom: 1px solid rgba(96, 125, 159, 0.25);
            background-image: linear-gradient(rgba(51, 64, 77, 0), rgba(51, 64, 77, 0.05));
            color: var(--medium-text-color);
            text-align: center;
        }

        &_list {
            margin: 0 -1px;

            &:not(:empty) {
                padding-top: 10px;
            }

            &_item {
                cursor: default;
                position: relative;
                margin-top: -1px;
                padding-top: 10px;
                padding-bottom: 10px;
                border: 1px solid var(--hairline-color);
                background-color: var(--gray-100);

                body.ltr & {
                    padding-left: 10px;
                    padding-right: 70px;
                }

                body.rtl & {
                    padding-left: 70px;
                    padding-right: 10px;
                }

                @media screen and (prefers-reduced-motion: no-preference) {
                    transition: margin-left 0.15s, margin-right 0.15s;
                }

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: -1px; bottom: -1px;
                    width: 0;
                    border-top: 1px solid var(--hairline-color);
                    border-bottom: 1px solid var(--hairline-color);
                    background-color: var(--gray-050);

                    body.ltr & {
                        left: 0;
                    }

                    body.rtl & {
                        right: 0;
                    }

                    @media screen and (prefers-reduced-motion: no-preference) {
                        transition: left 0.15s, right 0.15s, width 0.15s;
                    }
                }

                > .label {
                    color: var(--text-color);

                    &:empty {
                        font-style: italic;
                        color: var(--gray-350);

                        &::before {
                            content: "(blank)";
                        }
                    }
                }

                > .move,
                > .settings {
                    position: absolute;
                    width: 25px;
                    text-align: center;
                }

                > .move {
                    display: block;
                    top: 10px;

                    body.ltr & {
                        right: 3px;
                    }

                    body.rtl & {
                        left: 3px;
                    }

                    &:not(.has-error) {
                        ::before {
                            color: var(--ui-control-color);
                        }
                        
                        &:hover::before {
                            color: var(--ui-control-hover-color);
                        }
                    }

                    &.has-error {
                        ::before {
                            color: var(--error-color);
                        }
                        
                        &:hover::before {
                            color: var(--ui-control-hover-color);
                        }
                    }
                }

                > .settings {
                    display: inline-flex;
                    top: 13px;
                    padding: 0 !important;

                    body.ltr & {
                        right: 32px;
                    }

                    body.rtl & {
                        left: 32px;
                    }

                    &:not(.has-error) {
                        color: var(--ui-control-color);

                        &:hover {
                            color: var(--ui-control-hover-color);
                        }
                    }

                    &.has-error {
                        color: var(--error-color);

                        &:hover {
                            color: var(--ui-control-hover-color);
                        }
                    }
                }

                &.is-selected {
                    z-index: 1;
                    background-color: var(--gray-200);
                }

                &.is-child {
                    &::before {
                        width: 9px;
                    }

                    body.ltr & {
                        margin-left: 10px;

                        &::before {
                            left: -10px;
                        }
                    }

                    body.rtl & {
                        margin-right: 10px;

                        &::before {
                            right: -10px;
                        }
                    }
                }

                &.has-errors {
                    z-index: 2;

                    > .label {
                        color: var(--error-color);
                    }
                }

                &.type-heading {
                    margin-top: 9px;

                    &:first-child {
                        margin-top: 0;
                    }

                    > .label {
                        font-size: 11px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: rgba(63, 77, 90, 0.8);

                        &:empty {
                            font-weight: normal;
                            color: var(--gray-350);
                        }
                    }
                }

                &.type-spinner {
                    height: 42px;

                    .spinner {
                        position: absolute;
                        top: calc(50% - 17px);
                        left: calc(50% - 12px);
                        opacity: 1;
                    }
                }
            }
        }

        &_buttons {
            padding: 14px;

            > .btn {
                padding-left: 12px;
                padding-right: 12px;

                &.type-heading {
                    font-size: 11px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: rgba(63, 77, 90, 0.8);
                }
            }
        }
    }

    &_main {
        flex-grow: 1;
        flex-shrink: 9999; // Fixes weird layout bug when switching tabs
        border: 1px solid rgba(96, 125, 159, 0.25);

        body.ltr & {
            border-left: 0;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }

        body.rtl & {
            border-right: 0;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        &_tabs {
            display: flex;
            border-bottom: 1px solid rgba(96, 125, 159, 0.25);
            background-color: var(--gray-050);
            background-image: linear-gradient(rgba(51, 64, 77, 0), rgba(51, 64, 77, 0.05));

            &_tab {
                display: block;
                padding: 10px 24px;
                color: var(--medium-text-color);

                &:hover {
                    text-decoration: none;
                    color: #0d78f2;
                }

                &.is-selected {
                    margin-bottom: -1px;
                    padding-bottom: 11px;
                    border-left: 1px solid rgba(96, 125, 159, 0.25);
                    border-right: 1px solid rgba(96, 125, 159, 0.25);
                    background-color: #fff;
                    color: var(--text-color);

                    &:first-child {

                        body.ltr & { border-left:  0; }
                        body.rtl & { border-right: 0; }
                    }
                }
            }
        }

        &_content {
            padding: 24px;

            .checkbox + label {
                color: var(--medium-text-color);

                &:empty {

                    &::after {
                        content: '(blank)';
                        font-size: inherit;
                        font-style: italic;
                        color: var(--gray-350);
                    }

                    body.ltr & { padding-left:  20px; }
                    body.rtl & { padding-right: 20px; }
                }
            }
        }
    }
}
