.neo-input {

}

.ni {

	&_block {
		margin-bottom: 10px;
		border-radius: 3px;
		border: 1px solid #ebebeb;
		overflow: hidden;

		&_topbar {
			display: flex;
			height: 30px;
			line-height: 30px;
			background-color: #f1f3f4;
			color: #8f98a3;

			&_item {
				cursor: default;
				padding: 0 8px;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;

				+ .ni_block_topbar_item {
					padding-left: 0;
				}

				&.size-full {
					flex-grow: 1;
				}

				&.tabs {

					.tab {
						display: block;
						height: 30px;
						padding: 0 10px;
						float: left;
						color: rgba(#29323d, 0.5);

						&:hover {
							color: #0d78f2;
						}

						&.is-selected {
							cursor: default;
							padding: 0 9px;
							border: 1px solid #ebebeb;
							border-top: 0;
							border-bottom-color: #fafafa;
							margin-bottom: -1px;
							background-color: #fafafa;
							color: #576575;
						}
					}
				}

				> .status {
					margin: 10px 5px 0 0;
				}

				> a {
					color: rgba(#29323d, 0.25);

					&:hover {
						color: #0d78f2;
					}
				}
			}
		}

		&_content {
			padding: 14px;
			border-top: 1px solid #ebebeb;
			background-color: #fafafa;

			&_tab {
				display: none;

				&.is-selected {
					display: block;
				}
			}
		}

		&.is-contracted {

			.ni_block_topbar_item {

				&.tabs {
					display: none;
				}
			}

			.ni_block_content {
				display: none;
			}
		}

		&.is-disabled {

			.ni_block_content_tab {
				pointer-events: none;
				opacity: 0.5;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}
		}
	}
}
