.neo-configurator > .field > .input {
	display: flex;
	min-height: 400px;
}

[data-neo='template.fld'] {
	display: none;
}

.nc {

	&_sidebar {
		width: 200px;
		border: 1px solid #ebebeb;
		background-color: #fafafa;

		&_list {
			margin: 0 -1px;

			&_item {
				cursor: default;
				position: relative;
				margin-top: -1px;
				padding: 10px 14px 10px 40px;
				border: 1px solid #ebebeb;
				background-color: #fcfcfc;

				> .label {
					color: #29323d;

					&:empty {
						font-style: italic;
						color: #8f98a3;

						&::before {
							content: "(blank)";
						}
					}
				}

				> .move {
					display: block;
					position: absolute;
					top: 11px;
					left: 7px;
					width: 24px;
					text-align: center;
				}

				&.is-selected {
					z-index: 1;
					border-color: #dedede;
					background-color: #ececec;
				}

				&.type-heading {
					margin-top: 10px;

					> .label {
						font-size: 11px;
						font-weight: bold;
						text-transform: uppercase;
						color: #b9bfc6;
					}
				}
			}
		}

		&_buttons {
			padding: 14px;

			> .btn.type-heading {
				font-size: 11px;
				font-weight: bold;
				text-transform: uppercase;
				color: #b9bfc6;
			}
		}
	}

	&_main {
		flex-grow: 1;
		flex-shrink: 20; // Fixes weird layout bug when switching tabs
		border: 1px solid #ebebeb;
		border-left: 0;

		&_tabs {
			display: flex;
			border-bottom: 1px solid #ebebeb;
			background-image: linear-gradient(#f7f7f8, #f4f5f6);

			&_tab {
				display: block;
				padding: 10px 24px;
				color: #555;

				&:hover {
					text-decoration: none;
					color: #0d78f2;
				}

				&.is-selected {
					margin-bottom: -1px;
					padding-bottom: 11px;
					border-left: 1px solid #ebebeb;
					border-right: 1px solid #ebebeb;
					background-color: #fff;
					color: #29323d;

					&:first-child {
						border-left: 0;
					}
				}
			}
		}

		&_content {
			padding: 24px;
		}
	}
}
